* {
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
} 
header{

    background: -webkit-linear-gradient(to top, red, #ff5100);  
    background: linear-gradient(to top, red, #ff5100); 
    border-radius: 40px;


    padding: 6px;
    text-align: center;
    font-size: 18px;
    color: white;
}
section::after{
    content: "";
    display: table;
    clear: both;
}
nav{
    float: left;
    background-color: rgb(250, 173, 137);
    border-radius: 40px;
    padding-left: 30px;
    padding-bottom: 30px;
    height:inherit;
    width: 240px;
    color:black;
}
nav .button{
    background-color: rgb(0, 247, 214);
    border:#00b8a8;
    border-width: 4px;
    border-style:outset;
    border-radius: 40px;
    color: black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor:pointer;
    width:80%;
    background-image: url('images/Pokeball.jpg');
}
nav ul{
    list-style-type: none;
    padding: 0;
}
article{
    /*float: left;*/
    margin-left: 240px;
    height: 100%;
    width: auto;
    padding: 30px;
    text-align: center;
}

footer{
    background-color: red;
    padding: 18px; 
    text-align: center;
    color: white;
    border-radius: 40px;
}
div.pokemon{
    margin: 5px;
    float: left;
    width: 180px;
}
div.pokemon img{
    width: 100%;
    height: auto;
    background-color: mistyrose;
    border-radius: 10px;
}
