* {
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
} 
header{

    background: -webkit-linear-gradient(to top, red, #ff5100);  
    background: linear-gradient(to top, red, #ff5100); 
    border-radius: 40px;


    padding: 6px;
    text-align: center;
    font-size: 18px;
    color: white;
}

nav{
    float: left;
    background-color: rgb(250, 173, 137);
    border-radius: 40px;
    padding-left: 30px;
    padding-bottom: 30px;
    height:inherit;
    width: 240px;
    color:black;
}
nav .button{
    background-color: rgb(0, 247, 214);
    border:#00b8a8;
    border-width: 4px;
    border-style:outset;
    border-radius: 40px;
    color: black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor:pointer;
    width:80%;

}
nav ul{
    list-style-type: none;
    padding: 0;
}
article{
    /*float: left;*/
    margin-left: 240px;
    height: 100%;
    width: auto;
    padding: 30px;
    text-align: center;
}

footer{
    background-color: red;
    padding: 18px; 
    text-align: center;
    color: white;
    border-radius: 40px;
}
span.numero{
    padding-left: 6px;
    vertical-align: top;
    font-size: 14px;
    color:dimgray;
}
span.nombre{
    padding-left: 12px;
    font-size: 18px;
    font-weight: bold;
    color:rgb(46, 46, 46);
}
span.tipo{
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align:middle;
    font-weight: bold;
    font-size: 14px;
    color:white;
    border-radius: 3px;
    margin-left: 4px;
}

span.personaje{
    background-color: #50b9cc;
}

div.elenco{
    margin: 5px;
    float: left;
    width: 180px;

}
